<ion-header>
  <ion-toolbar style="height: 100px; display: flex; justify-content: center; align-items: center;">
    <!-- Logo de la aplicación a la izquierda -->
    <ion-buttons slot="start">
      <ion-img src="assets/img/logo_avion.png" alt="Logo de la aplicación"  style="width: 120px; height: auto; margin-right: 30px;"></ion-img>
    </ion-buttons>

    <!-- Nombre de usuario y avatar a la derecha -->
    <ion-buttons slot="end">
      <ion-img src="assets/img/avatar1.png" alt="Avatar del usuario" style="width: 80px; height: auto; margin-right: 30px;" [routerLink] = "['/perfil-user']"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
