<ion-header>
  <ion-toolbar class="custom-footer-toolbar">
    <div class="footer-content" style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
      <div style="display: flex; align-items: center;"> <!-- Contenedor para el label y avatar -->
        <ion-avatar slot="start" style="margin-right: 10px;">
          <img src="assets/img/img_group.png" alt="Avatar" />
        </ion-avatar>
        <ion-label class="custom-label">Grupo 1</ion-label>
      </div>
      <ion-button fill="clear" style="padding: 0;" [routerLink]="['/settings-group']">
        <img src="assets/icon/icon-ajustes.png" alt="config" style="width: 45px; height: 45px;" />
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
