
.small-logo {
    width: 200px;  /* Aumenta el tamaño del logo */
}
.titulo {
    color: #28A8E0;
}
.centered-content {
    display: flex;
    flex-direction: column; /* Para que los elementos estén en columna */
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    height: 100vh; /* 100% de la altura de la pantalla */
    text-align: center; /* Centrar el texto */
}


.margin-top {
    margin-top: 20px; /* Ajusta el valor según el espacio que desees */
}
.margin-bo {
    margin-top: 10px; /* Ajusta el valor según el espacio que desees */
}

body {
    background-color: #ffffff;
}
/* Estilos para pantallas móviles */







