.user-name {
    font-size: 22px;   /* Tamaño grande */
    font-weight: bold;
    color: #007bff;

}
.user-name h1 {
    margin: 0; /* Elimina el margen para una mejor alineación */
    text-align: left; /* Alinea el texto a la izquierda */
}

.grupos-title {
    color: #007bff;
}

.usuario-text {
    font-size: 1rem;
    color: #007bff;
    margin-top: 5px;
}



ion-img {
    max-width: 80px;
    margin-top: 10px;
}

ion-avatar {
    width: 60px;
    height: 60px;
}

ion-icon {
    margin-left: 5px;
    color: white;
}

.arrow {
    margin-top: 20px;
}

.grupos-title h2 {
    font-size: 1.2rem;
    color: #007bff;
    font-weight: bold;
}

.votes-card {
    border-radius: 20px;
    background-color: rgba(0, 123, 255, 0.61); /* Fondo azul para la card */
}


.datos_personales {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
}
.datos-title {
    font-size: 22px;   /* Tamaño grande */
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.datos_personales2 {
    font-size: 1.2rem;
    color: #ffffff;

}
h1{
    font-size: 22px;   /* Tamaño grande */
    font-weight: bold;  /* Negrita para mayor visibilidad */
    color: #007bff;     /* Color azul */
    text-align: center; /* Centrar el texto */
}


