ion-card-content {
  padding: 20px;
}

ion-label {
  font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
}

ion-input,
ion-textarea,
input[type="file"] {
  font-size: 1.1rem; /* Aumenta el tamaño de la fuente para inputs */
}

ion-button {
  font-size: 1.2rem; /* Aumenta el tamaño de la fuente de los botones */
}

.ion-item1 {
  margin-bottom: 15px; /* Espacio entre los items */
}
ion-item {
  margin-bottom: 1px; /* Espacio entre los items */
}
