<ion-footer >
  <ion-toolbar class="custom-footer-toolbar" >
    <div class="footer-content">
      <ion-button fill="clear" style="padding: 0;" routerLink="/group">
        <img src="assets/icon/icon-flecha.png" alt="Flecha" style="width: 45px; height: 45px;" />
      </ion-button>
      <ion-button routerLink="/calendar" fill="clear"  style="padding: 0;" >
        <img src="assets/icon/icon-calendar.png" alt="Calendario" style="width: 45px; height: 45px;" />
      </ion-button>
      <ion-button fill="clear" style="padding: 0;" [routerLink]="['/chat']">
        <img src="assets/icon/icon-colaboracion.png" alt="Chat" style="width: 45px; height: 45px;" />
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>


